[submodule "monado"]
	path = monado
	url = https://gitlab.freedesktop.org/monado/monado.git
	branch = main
	
[submodule "escapi"]
	path = attic/escapi
	url = https://github.com/moshimeow/escapi_with_timestamps.git
